@import "base/_variables";
@import "base/_mixins";

*
    font-family: "Museo Sans Cyrl", sans-serif

.container
    max-width: 960px
    margin: 0 auto

@import "blocks/_promo";
@import "blocks/_advantages";
@import "blocks/_consultation";
@import "blocks/_slider";
@import "blocks/_pageup";
@import "blocks/_catalog";
@import "blocks/_comment";
@import "blocks/_footer";
@import "blocks/_modal";
@import "_mobile";