
.slider
    display: none
    padding: 95px 0
    
    &_carousel
        width: 750px
        margin: 0 auto
        position: relative
        img
            display: block
            margin: 0 auto



    .slick-prev
            position: absolute
            left: -66px
            top: 50%
            transform: translateY(-50%)
            border: none
            background-color: white
            img
                width: 30px
                height: 45px
    .slick-next
            position: absolute
            top: 50%
            right: -66px
            transform: translateY(-50%)
            border: none
            background-color: white
            img
                width: 30px
                height: 45px
